<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Event manager</title>
  </head>
  <body>
    <h1>Event manager screen</h1>

    <ul>
      <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
      <li><%= error.message %></li>
      <% }) %> <% } %>
    </ul>
    <form action="/eventAdder" method="POST">
      <div>
        <input type="text" id="name" name="name" placeholder="Name of event" />
      </div>
      <div>
        <input
          type="description"
          id="description"
          name="description"
          placeholder="Description"
        />
      </div>
      <div>
        <input type="submit" value="Add new event" />
      </div>
    </form>
    <br>

    <form action="/eventDeleter" method="POST">
      <div>
       <input type="text" id="name" name="name" placeholder="Name of event" />
      </div>
        <input type="submit" value="Delete event" />
      </div>
    </form>
    <a href="/index">Back to homepage</a>

  </body>
</html>

